/*
  Grupo: 02
        ID: 402330997 - Rolando Herrera Bustos - 10am
        ID: 116830152 - Marvin Aguilar Fuentes - 10am
        ID: 116880486 - Alonso Calderón Trigueros - 10am
        ID: 402390142 - José David Flores Rodríguez - 10am
*/

.automaton-options {
    background: #343a40;
    padding: 0 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons {
    margin: 10px 5px;
    font-weight: bold;
}

.dark-button {
    background: #343a40 !important;
}